ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 5px solid #fff;
    background-color: #27374D;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16pt;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
    color:black;
  }
  
  li a.active {
    color: black;
    background-color: #fff;
  }