.post-container {
  width: 100%;
  max-height: 400px;
  background-color: #27374d;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 6px #27374d;
  color: white;
  overflow: hidden;
}
.post-content {
  font-size: 14pt;
  margin: 25px;
}
.post-details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid 4px rgb(211, 210, 211);
  margin: 25px;
  text-decoration: none;
  color: black;
  font-size: 12pt;

  text-align: center;
}
.post-details-button:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
.post-details-button a {
}
.post-title {
  margin: 25px;
}
.post-date {
  margin: 25px;
}
.disabled {
  display: none;
}
